:root {
  --blue: #0078D7;
  --blue-dark: #005A9E;
  --blue-light: #CDEEFF;
  --green: #00A300;
  --green-dark: #008000;
  --green-light: #A8D5BA;
  --white: #FFFFFF;
  --gray-light: #E7E7E7;
  --gray-dark: #333333;
  --yellow-Calm: #FFDA77;
  --orange-smooth: #FFB347;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--blue-light);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
